<!DOCTYPE html>
<html>
<head>
    <title>RTSP Camera Stream</title>
</head>
<body>
    <table width="100%" height="100%" border="1">
        <tr>
            <td width="20%">RTSP Camera Stream {{mac}}</td>
        </tr>
        <tr>
            <td><img src="{{ url_for('video_feed', mac=mac) }}" width="100%" /></td>
        </tr>
        
        <!--
        <tr>
            <td>RTSP Camera Stream 11</td>
            <td>RTSP Camera Stream 12</td>
            <td>RTSP Camera Stream 13</td>
            <td>RTSP Camera Stream 14</td>
            <td>RTSP Camera Stream 15</td>
        </tr>
        <tr>
            <td><img src="{{ url_for('video_feed', camNum='10') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='11') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='12') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='13') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='14') }}" width="100%" /></td>
        </tr>
        <tr>
            <td>RTSP Camera Stream 16</td>
            <td>RTSP Camera Stream 17</td>
            <td>RTSP Camera Stream 18</td>
            <td>RTSP Camera Stream 19</td>
            <td>RTSP Camera Stream 20</td>
        </tr>
        <tr>
            <td><img src="{{ url_for('video_feed', camNum='15') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='16') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='17') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='18') }}" width="100%" /></td>
            <td><img src="{{ url_for('video_feed', camNum='19') }}" width="100%" /></td>
        </tr>
    -->
    </table>


</body>
</html>